{% load staticfiles %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body onload="loadFunction()">

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand logofont" href="#">Parental Filter</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">

	        <li class="homefont {% block active-upload %}{% endblock %}" ><a href="{% url 'main:upload' %}">Upload</a></li>
	        <li class="homefont {% block active-check %}{% endblock %}" ><a href="{% url 'main:check' %}">Check</a></li>
	        <li class="homefont {% block active-result %}{% endblock %}"><a href="{% url 'main:result' %}">Result</a></li>
	        <li class="homefont"><a id="continuousMonitoringButton" onClick="monitorAlert()" href="#">Continuous Monitoring</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
	      </ul>
	    </div>
	  </div>
	</nav>


	<div class="container">
		{% block body %}
		{% endblock %}
	</div>

	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
    	function loadFunction(){
    		continuous={{ continuous_monitoring }}
    		if(continuous==1){
    			document.getElementById('continuousMonitoringButton').style.color="Green";
    		}
    	}
    	function monitorAlert(){
    		if (continuous==0){
    			continuous=1
    			document.getElementById('continuousMonitoringButton').style.color="Green";
	    		var xmlHttp = new XMLHttpRequest();
				xmlHttp.open( "GET", "{% url 'main:continuous' %}", true );
				xmlHttp.send() 
			}
			else{
				continuous=0
				document.getElementById('continuousMonitoringButton').style.color="grey";
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.open( "GET", "{% url 'main:continuous_off' %}", true );
				xmlHttp.send() 
			}
    	}
    </script>
    {% block javascript %}
	{% endblock %}
</body>
</html>